PORT=3000
SUPABASE_URL=https://ebfswznqbbacjykoswri.supabase.co
SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173
FRONTEND_BASE_URL=http://localhost:8000
BACKEND_BASE_URL=http://localhost:3000
GMAIL_USER=personalstylisttest@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password
